@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 67% 94%;
    --foreground: 224 76% 28%;
    --card: 240 50% 98%;
    --card-foreground: 224 76% 28%;
    --popover: 240 50% 98%;
    --popover-foreground: 224 76% 28%;
    --primary: 158 100% 33%;
    --primary-foreground: 158 100% 95%;
    --secondary: 24 100% 66%;
    --secondary-foreground: 0 0% 100%;
    --muted: 240 20% 88%;
    --muted-foreground: 240 5% 45%;
    --accent: 24 100% 66%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 20% 80%;
    --input: 240 20% 85%;
    --ring: 158 100% 33%;
    --chart-1: 158 100% 33%;
    --chart-2: 24 100% 66%;
    --chart-3: 240 50% 60%;
    --chart-4: 158 50% 60%;
    --chart-5: 24 50% 80%;
    --radius: 0.8rem;
    --sidebar-background: 0 0% 100%;
    --sidebar-foreground: 224 76% 28%;
    --sidebar-primary: 158 100% 33%;
    --sidebar-primary-foreground: 158 100% 95%;
    --sidebar-accent: 240 67% 94%;
    --sidebar-accent-foreground: 158 100% 33%;
    --sidebar-border: 240 20% 88%;
    --sidebar-ring: 158 100% 33%;
  }
  .dark {
    --background: 224 76% 10%;
    --foreground: 240 67% 94%;
    --card: 224 76% 12%;
    --card-foreground: 240 67% 94%;
    --popover: 224 76% 12%;
    --popover-foreground: 240 67% 94%;
    --primary: 158 100% 40%;
    --primary-foreground: 158 100% 95%;
    --secondary: 24 100% 66%;
    --secondary-foreground: 0 0% 100%;
    --muted: 224 76% 20%;
    --muted-foreground: 240 5% 65%;
    --accent: 24 100% 66%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 224 76% 25%;
    --input: 224 76% 25%;
    --ring: 158 100% 40%;
    --chart-1: 158 100% 40%;
    --chart-2: 24 100% 66%;
    --chart-3: 240 50% 60%;
    --chart-4: 158 50% 60%;
    --chart-5: 24 50% 80%;
    --sidebar-background: 224 76% 12%;
    --sidebar-foreground: 240 67% 94%;
    --sidebar-primary: 158 100% 40%;
    --sidebar-primary-foreground: 158 100% 95%;
    --sidebar-accent: 224 76% 20%;
    --sidebar-accent-foreground: 158 100% 40%;
    --sidebar-border: 224 76% 25%;
    --sidebar-ring: 158 100% 40%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
